<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMtO9GDie8jSrmTmnNnFAa-U1KjXqHUxo</string>
	<key>GCM_SENDER_ID</key>
	<string>1069540851368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.supapay</string>
	<key>PROJECT_ID</key>
	<string>supapay-d5baf</string>
	<key>STORAGE_BUCKET</key>
	<string>supapay-d5baf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069540851368:ios:18c246a8e184fdf6a78c9d</string>
</dict>
</plist>